<!doctype html>
<html>
  <head>
    <title>Node.JS Authentication Example</title>
  </head>
  <body>

    <div>
      <a href="/login">Login</a> |
      <a href="/register">Register</a> |
      <a href="/logout">Logout</a> |
      <a href="/dashboard">Dashboard</a>
    </div>

    <h2>Login Here</h2>

    <form action="/login" method="post">
      <input type="text" name="email" placeholder="your.email@domain.com" />
      <input type="password" name="password" placeholder="Your password" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
